*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------------------service section 1 css starts here-----------------*/

.ssec-01{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-height: 70vh;
    position: relative;
    /* background: url(images/serviuce-bcg1.jpg) no-repeat center center/cover; */
    z-index: -1;
}
.ssec-01 video{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.ssec-01 h5{
    font-size: 1.3rem;
    color: #d18548;
    z-index: 1;
}
.ssec-01 h1{
    font-size: 3rem;
    color: #fff;
    z-index: 1;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
/*---------------ssec-01 responsive css starts here--------------*/
@media only screen and (min-width:200px) and (max-width:1336px){
    .ssec-01{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

/*---------------ssec-01 responsive css ends here--------------*/
/*----------------------------service section 1 css ends here-----------------*/
/*----------------------------service section 2 css starts here-----------------*/
.ssec-02 {
    width: 100%;
    min-height: 100vh;
    padding-top: 30px;
    box-sizing: border-box;
    padding-bottom: 60px;
}

.ssecboxes {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-width: 90%;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 20px;
}

.ssecbox1 {
    flex-basis: 30%; 
    max-height: 400px; 
    overflow: hidden; 
    box-sizing: border-box;
    position: relative; /* Added to contain the content */
}

.sseccontent {
    border: 1px solid #515050;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 20px;
    box-sizing: border-box;
}
.ssecbox1 video {
    width: 100%; /* Make the video fill the width of the container */
    height: 50%; /* Maintain aspect ratio */
    display: block; /* Prevent extra space around the video */
}

.sseccontent h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.ssecbox1 img {
    width: 100%;
    height: auto;
    display: block;
}

.ssecbox1 img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.sseccontent span {
    background-color: #d18548;
    padding: 10px 12px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: auto;
}
/*----------------------------service section 2 css ends here-----------------*/
/*----------------------------service section 2 responsive css starts here---------------*/
@media only screen and (min-width:200px) and (max-width:1336px){
    .ssec-02{
        display: flex;
        width: 100%;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .ssecboxes{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        align-items: center;
    }
    .ssecbox1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        align-items: center;
        width: 100%;
        max-width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .sseccontent{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        align-items: center;
        width: fit-content;
        max-width: 100%;
        
        
    }
}
/*----------------------------service section 2 responsive css ends here---------------*/